body {
    font-family: Arial;
    padding: 20px;
    background: #101218;
}

.box {
    background: #202530;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    box-shadow: 0 0 10px #08090f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 7%;
}

nav {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90%px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 700;

    background: linear-gradient(270deg, #8e59cf, #5f6bff, #BB86FC, #4e1a8f);
    background-size: 600% 600%;
    animation: deslizando 12s ease infinite;
}

@keyframes deslizando {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h2 {
    color: #BB86FC;
}

button {
    margin: 5px 0;
    width: 65%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background: linear-gradient(270deg, #8e59cf, #BB86FC, #bf8efa);
    background-size: 600% 600%;
    animation: deslizando 12s ease infinite;
}

button:hover {
    background: #8e59cf;
}

input::placeholder {
    color: white;   
    opacity: 1;    
}

label {
    color: white;
    margin: 3px;
}

#resultado {
    margin-top: 15px;
    padding: 10px;
    background: #515c75;
    border-radius: 8px;
    color: white;
}